.pg_view {
  width: 100%;
  height: 100%;
}
.menu_cell {
  width: 100%;
  .menuList{
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    
  }
  .menuName{
    margin-bottom: .2rem;
  }
  padding: .2rem .32rem;
  .menu_item {
    margin-right: .5rem;
    margin-bottom: .4rem;
    &:nth-of-type(5n+0){
      margin-right: 0;
    }
    .icon {
      width: .96rem; 
      height: .96rem;
      border-radius: .08rem;
      background: #48807a;
      margin-bottom: .16rem;
    }
    .text {
      width: .96rem;
      font-size: .24rem;
      font-weight: bold;
      line-height: .34rem;
      color: #333333;
      text-align: center;
    }
  }
}