.container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    .transcriptBox {
        flex: 1;
        padding: .2rem .3rem;
        padding-bottom: 1.4rem;
        .transTable {
            width: 100%;
            min-height: 4rem;
            border-radius: .2rem;
            background: #FFF;
            overflow: hidden;
            .transHead {
                background: #426666;
                width: 100%;
                height: 1rem;
            }
            .transHead {
                padding: .2rem;
            }
            .transBody {
                padding: .2rem;
                table{
                    border-collapse: collapse;
                    width: 100%;
                    td,th{
                        border: 1px solid #f0f0f0;
                        height: .6rem;
                        line-height: .6rem;
                        text-align: center;
                    }
                    th {
                        background: #EFECEA;
                    }
                }
            }
        }
        .className {
            font-size: .26rem;
        }
        .memberMain {
            width: 100%;
            min-height: 3rem;
            background: #FFF;
            border-radius: .2rem;
            margin-top: .2rem;
            padding: .2rem;
            .memberUnit {
                width: 1.4rem;
                height: 2rem;
                margin: .1rem .1rem .1rem;
                display: inline-block;
                position: relative;
                .memberImage {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: #ddd;
                    margin: 0 auto;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    &.noneAvatar{
                        background: #6083E7;
                        color: #FFF;
                    }
                }
                .memberName {
                    text-align: center;
                    font-size: .3rem;
                    padding-top: .15rem;
                    line-height: 1.4em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        .tipInfo {
            font-size: .26rem;
            margin-top: .2rem;
            text-align: center;
            span {
                display: inline-block;
                width: .4rem;
                height: .4rem;
                border-radius: 50%;
                background: rgba($color: #f0a06a, $alpha: 1.0);
                line-height: .4rem;
                font-size: .24rem;
                color: #FFF;
            }
        }
    }
    .saveTrans {
        position: fixed;
        z-index: 10;
        bottom: .3rem;
        left: 5%;
        width: 90%;
        height: .8rem;
        border-radius: .4rem;
        background: #AA8963;
        line-height: .8rem;
        font-size: .34rem;
        color: #FFF;
        text-align: center;

    }
}

