.container {
    width: 100%;
    height: 100%;
    display: flex;
    // padding-top: .3rem;
    // padding-bottom: .3rem;
    flex-direction: column;
    padding: 0.2rem;
    .awardBody {
        flex: 1;
        padding: 0;
        .awardBox {
            width: 100%;
            min-height: 4rem;
            background: #FFF;
            border-radius: .2rem;
            border: .03rem solid #9A7C5A;
            padding: .2rem;
            .awardTit {
                font-size: .38rem;
                color: #9A7C5A;
                width: 100%;
                text-align: center;
            }
            .awardContent {
                font-size: .34rem;
                padding: .2rem 0;
                word-break: break-all;
                .awardUnit{
                    margin-top: .4rem;
                    .unitTit {
                        font-size: .34rem;
                        text-align: center;
                    }
                    .unitCont {
                        padding: .2rem;
                        font-size: .3rem;
                        line-height: 1.5em;
                        span{
                            color: #9A7C5A;
                        }
                    }
                }
                .footnote{
                    margin-top: .4rem;
                    font-size: .3rem;
                    text-align: center;
                    color: #c2c2c2;
                    line-height: 1.8em;
                }
            }
        }
    }
}