.container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
    .provesBody {
        flex: 1;
        padding: 0 .2rem;
        .provesBox {
            width: 100%;
            min-height: 4rem;
            background: #FFF;
            border-radius: .2rem;
            padding: .2rem;
            .provesBorder{
                width: 100%;
                height: 100%;
                border: .03rem solid #9A7C5A;
                padding: .2rem;
                border-radius: .15rem;
                position: relative;
                .provesTit {
                    font-size: .4rem;
                    color: #9A7C5A;
                    width: 100%;
                    text-align: center;
                }
                .provesContent {
                    font-size: .34rem;
                    padding: .2rem 0;
                    word-break: break-all;
                    span{
                        color: #4E807A;
                    }
                }
            }
        }
    }
    .saveTrans {
        position: fixed;
        z-index: 10;
        bottom: .3rem;
        left: 5%;
        width: 90%;
        height: .8rem;
        border-radius: .4rem;
        background: #AA8963;
        line-height: .8rem;
        font-size: .34rem;
        color: #FFF;
        text-align: center;

    }
}