.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #EFF3F1;
    .reportHead{
        width: 100%;
        height: 1rem;
        padding: .2rem .32rem;
        display: flex;
        align-items: center;
        color: #000;
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        img{
            width: .5rem;
            height: .5rem;
        }
        .reportStuName{
            flex: 1;
            font-size: .38rem;
            margin-left: .14rem;
        }
        .reportClassName{
            font-size: .3rem;
        }
    }
    .reportBody {
        flex: 1;
        overflow: auto;
        padding: .38rem .3rem;
        .part_tit {
            color: rgba(0, 0, 0, 0.8);;
            width: 100%;
            height: .4rem;
            line-height: .4rem;
            font-size: .36rem;
            padding-left: .2rem;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0; top: 0;
                background: #30827A;
                width: 0.1rem; height: .44rem;
                border-radius: .05rem;
            }
        }
        .part_report {
            width: 100%;
            min-height: 3.11rem;
            position: relative;
            overflow: hidden;
            background: #30827A;
            border-radius: .2rem;
            margin-top: .38rem;
            font-size: .32rem;
            display: flex;
            flex-direction: column;
            &::after{
                content: '';
                position: absolute; top: .88rem; right: .15rem;
                background: url(../../styles/images/report-item-bg-icon.png) no-repeat;
                background-size: 100%;
                width: 1.9rem; height: 1.92rem;
            }
            .report_term {
                width: 4.6rem; height: .76rem;
                background: linear-gradient(180deg, #C7BC9F 0%, #E9D39B 100%);
                text-align: center;
                color: #fff;
                font-size: .3rem;
                margin: 0 auto;
                border-radius: 0 0 .76rem .76rem;
                line-height: .76rem;
            }        
            .report_title {
                margin-top: .42rem;
                font-size: .38rem;
                text-align: center;
                flex: 1;
                color: rgba(255, 255, 255, 0.8);
            }
            .report_btn {
                width: 2.8rem;
                height: .65rem;
                background: #fff;
                border-radius: .32rem;
                color: #30827A;
                text-align: center;
                line-height: .65rem;
                margin: 0 auto .46rem;
            }
        }
        .echartBox {
            margin-top: .38rem;
            width: 100%;
            height: 4rem;
            background: #FFF;
            border-radius: .2rem;
        }
    }
    iframe{
        border: none;
        width: 100%;
        height: calc(100% - 1.4rem);
    }
    .saveTrans{
        position: fixed;
        z-index: 10;
        bottom: .3rem;
        left: 5%;
        width: 90%;
        height: .8rem;
        border-radius: .4rem;
        background: #AA8963;
        line-height: .8rem;
        font-size: .34rem;
        color: #FFF;
        text-align: center;

    }
}

