.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    .reportBody {
        flex: 1;
        overflow: auto;
        padding: .2rem;
        .part_tit {
            width: 100%;
            height: .4rem;
            line-height: .4rem;
            font-size: .36rem;
            padding-left: .2rem;
            position: relative;
        }
        .part_report {
            width: 100%;
            min-height: 4rem;
            position: relative;
            overflow: hidden;
            background: #f8f8f8;
            border-radius: .2rem;
            margin-top: .3rem;
            padding-top: .16rem;
            font-size: .32rem;
            .report_name{
                padding: 0 .2rem;
                height: .5rem;
                img {
                    float: left;
                    width: .5rem;
                    height: .5rem;
                    background: #eee;
                }
                span {
                    float: left;
                    line-height: .5rem;
                    margin-left: .14rem;
                    font-size: .28rem;
                }
            }
            .report_term {
                text-align: center;
                color: #645F5B;
                margin-top: .32rem;
            }
            .report_title {
                text-align: center;
                color: #645F5B;
                padding: .2rem 0 .32rem;
                border-bottom: 1px solid #CCC5B5;
            }
            .report_btn {
                width: 4.34rem;
                height: .72rem;
                background: #005B2F;
                border-radius: .72rem;
                color: #fff;
                text-align: center;
                line-height: .72rem;
                margin: .36rem auto;
            }
            .report_file{
                position: absolute;
                right: .2rem; top: .2rem;
                border-radius: .1rem;
                width: 1rem;
                height: .6rem;
                line-height: .6rem;
                text-align: center;
                background: #fff;
                border: 1px solid #005B2F;
                color: #005B2F;
                font-size: .24rem;
            }
        }
        .echartBox {
            margin-top: .2rem;
            width: 100%;
            height: 4rem;
            background: #FFF;
            border-radius: .2rem;
        }
    }
    iframe{
        border: none;
        width: 100%;
        height: calc(100% - 1.4rem);
    }
    .saveTrans{
        position: fixed;
        z-index: 10;
        bottom: .3rem;
        left: 5%;
        width: 90%;
        height: .8rem;
        border-radius: .4rem;
        background: #AA8963;
        line-height: .8rem;
        font-size: .34rem;
        color: #FFF;
        text-align: center;

    }
}

