.container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    .paddingBody {
        padding: .3rem;
        padding-bottom: 1.65rem;
        overflow: auto;
        flex: 1;
        .memberBox {
            width: 100%;
            // min-height: 3rem;
            background: #FFF;
            border-radius: .2rem;
            overflow: hidden;
            box-shadow: 0 0 .1rem rgba($color: #000000, $alpha: .1);
            padding: 0 .38rem;
            margin-bottom: .2rem;
        }
        .openCheck{
            padding: 10px;
        }
        .closeCheck{
            padding: 10px;
        }
        .memberStatus {
            width: 100%;
            // height: 1.2rem;
            background: #FFF;
            border-radius: .2rem;
            margin-bottom: .2rem;
            // display: flex;
            // align-items: center;
            padding: 0 .38rem;
            font-size: .35rem;
            font-weight: 300;
            em {
                margin-right: .2rem;
                width: .5rem;
                height: .5rem;
                background: #999;
                border-radius: .1rem;
                text-align: center;
                line-height: .5rem;
                font-style: normal;
                color: #FFF;
            }
            .flag_A {
                background: #3E82F4; 
            }
            .flag_B {
                background: #F0976A; 
            }
            .flag_C {
                background: #C2F7A0; 
            }
            &:first-child {
                margin-top: .4rem;
            }
            
        }
        .statusName,
        .statusNum{
            font-size: .34rem;
        }
        .statusName{
            color: rgba(0, 0, 0, 0.8);
            font-weight: 500;
            margin-right: .1rem;
        }
        .statusNum{
            color: rgba(0, 0, 0, 0.4);
            font-weight: 400;
        }
        :global{
            .adm-list,
            .adm-list-body{
                border: 0;
            }
            .adm-list-item{
                padding-left: 0;
               
            }
            .adm-list-item-content{
                padding-right: 0;
            }
            .adm-collapse-panel-header .adm-list-item-content-main{
                padding: 0;
            }
        }
        .title {
            font-size: .32rem;
            height: 1.2rem;
            line-height: 1.2rem;
            margin: 0 .3rem 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // span {
            //     padding-left: .1rem;
            //     color: #999;
            //     font-size: .3rem;
            // }
        }
        .status{
            font-size: .32rem;
            height: 1.2rem;
            line-height: 1.2rem;
            margin: 0 .3rem 0 0;
        }
        .memberList {
            padding: 0 0 0.2rem;
            .memberUnit {
                width: 1.4rem;
                // height: 2rem;
                margin: .1rem .1rem .1rem;
                display: inline-block;
                position: relative;
                &::after{
                    content: '\20';
                    position: absolute;
                    width: .3rem;
                    height: .3rem;
                    border-radius: 50%;
                    border: 2px solid #48807A;
                    background: #FFF;
                    top: 0;
                    left: .1rem;
                }
                &.checked{
                    &::after{
                        content: '\e600';
                        font-family: 'iconfont';
                        position: absolute;
                        width: 0.4rem;
                        height: 0.4rem;
                        border-radius: 50%;
                        border: 0;
                        top: 0;
                        color: #48807A;
                        font-size: .45rem;
                        left: 0.06rem;
                        line-height: .4rem;
                    }
                }
                &.noChoose{
                    &::after{
                        display: none;
                    }
                }
                .memberImage {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: #ddd;
                    margin: 0 auto;
                    object-fit: cover;
                    display: block;
                }
                .memberName {
                    text-align: center;
                    font-size: .3rem;
                    line-height: 1.3em;
                }
                
            }
        }
    }
    .noCall{
        .memberUnit{
            &::after{
                display: none;
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.65rem;
        background: #FFF;
        box-shadow: 0 0 .1rem rgba($color: #000000, $alpha: .2);
        .checkedNum {
            line-height: 1rem;
            font-size: .3rem;
            padding-left: .2rem;
            float: left;
        }
        .checkTitle,
        .checkNum,
        .noCheck{
            font-size: .3rem;
            font-weight: 500;
        }
        .checkTitle{
            color: rgba(0, 0, 0, 0.8);
            margin-right: .1rem;
        }
        .checkNum{
            color: #30827A;
        }
        .noCheck{
            color: rgba(0, 0, 0, 0.33);
        }
        .btnBox {
            float: right;
            height: 1rem;
            display: flex;
            align-items: center;
            
        }
        .noShow,
        .call{
            border-radius: .66rem;
            border: 0;
            height: 1.03rem;
            font-size: .38rem;
            width: 2.22rem;
        }
        .noShow{
            background: #E19449;
            margin-right: .23rem;
        }
        .call{
            background: #30827A;
        }
        .footItem{
            width: 100%;
            height: 100%;
            padding: .3rem;
        }
        .w100{
            width: 100%;
        }
        .btn{
            height: 100%;
            border-radius: .66rem;
            background: #30827A;
            border: 0;
        }
        .callEnd{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .mr23{
            margin-right: .23rem;
        }
    }
}

.containerTeacher {
    width: 100%;
    height: 100%;
    display: flex;
    padding: .3rem;
    flex-direction: column;
}
.status_leave,
.status_noArrive,
.status_arrive{
    position: relative;
    &::before{
        width: .48rem;
        height: .48rem;
        content: '';
        position: absolute;
        background: url(../../styles/images/leave@2x.png)center center no-repeat;
        background-size: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
    .statusName{
        margin-left: .68rem;
    }

}
.status_noArrive{
    &::before{
        background: url(../../styles/images/no_arrive@2x.png)center center no-repeat;
        background-size: 100%;
    }
}
.status_arrive{
    &::before{
        background: url(../../styles/images/arrive@2x.png)center center no-repeat;
        background-size: 100%;
    }  
}

/deep/.modalBox+.adm-center-popup-wrap{
    .adm-modal-body{
        padding: .84rem .72rem;
    }
}

.coll{
    :global{
        .adm-list-body{
            border-radius: .2rem;
        }
        .adm-list-item-content{
            padding: 0 0.3rem!important;
        }
        .adm-collapse-panel-header{
            
            background: #30827A;
            height: .9rem;
            line-height: .9rem;
        }
        
    }
    margin-bottom: .38rem;
    .collHead{
        .time{
            font-size: .34rem;
            color: #fff;
        }
    }
    .subject{
        .subjectItem{
            margin-bottom: .42rem;
            .head{
                display: flex;
                margin-bottom: .28rem;
            }
            .icon{
                width: .48rem;
                height: .48rem;
                background: url(../../styles/images/no_arrive@2x.png) center center no-repeat;
                background-size: 100%;
                display: block;
                margin-right: .2rem;
            }
            .iconText{
                color: rgba(0, 0, 0, 0.8);
                font-size: .34rem;
            }
        }
        .subjectList{
            display: flex;
            flex-wrap: wrap;
            .subjectListItem{
                width: 1.38rem;
                height: .53rem;
                border: 1px solid #B0875D;
                border-radius: .07rem;
                margin-right: .23rem;
                position: relative;
                .title{
                    font-size: .26rem;
                    color: #B0875D;
                    line-height: .53rem;
                    height: 0.53rem;
                    display: block;
                    text-align: center;
                    margin: 0;
                    
                }
                .edit{
                    width: 0.38rem;
                    height: 0.38rem;
                    background: #30827A;
                    border-radius: 0.38rem;
                    display: block;
                    position: absolute;
                    top: -0.13rem;
                    right: -0.19rem;
                    color: #fff;
                    font-size: .12rem;
                    text-align: center;
                    line-height: .38rem;
                }
            }
        }
    }
}

.resonBox{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .header{
        display: flex;
        padding: 0 .61rem;
        align-items: center;
        .title{
            flex: 1;
            text-align: center;
            font-size: .38rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
            line-height: 1.3rem;
        }
        .close{
            font-size: .4rem;
        }
    }
    .content{
        flex: 1;
        position: relative;
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0.15rem 0.61rem 0.3rem 0.61rem;
            :global{
                .adm-space-item{
                    text-align: center;
                }
                .adm-text-area{
                    margin-top: .2rem;
                    border: 1px solid #eee;
                    border-radius: .2rem;
                    padding: 0.3rem;
                }
                .adm-form{
                    text-align: center;
                    border: 0;
                }
                .adm-list,
                .adm-list-default .adm-list-body{
                    border: 0;
                }
                .adm-radio.adm-radio-checked .adm-radio-icon{
                    background-color: #30827A;
                    border-color: #30827A;
                }
                .adm-radio .adm-radio-icon{
                   border:1px solid #30827A;
                }
                .adm-list-item-content{
                    border: 0;
                }
                .adm-list-item-content-main{
                    padding: 0;
                }
            }
            
            .btn{
                background: #30827A;
                border-radius: .66rem;
                line-height: 1.03rem;
                color: #fff;
                padding: 0;
                margin-top: .6rem;
                width: 100%;
            }
        }
        .loading{
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%);
        }
        .resultBox{
            padding-top: 0.8rem;
        }
    }
}

