.userDetailBox {
    width: 100%;
    height: 1rem;
    background: #FFF;
    box-shadow: 0 0 .2rem rgba($color: #000000, $alpha: .1);
    position: fixed;
    padding: .15rem .2rem;
    top: 0;
    left: 0;
    &.nobg {
        background: none;
        box-shadow: none;
        height: 1.3rem;
        padding: .3rem .2rem;
    }
    .stuHead {
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background: #999;
        float: left;
    }
    .stuName {
        float: left;
        padding: 0 .2rem;
        line-height: .7rem;
        font-size: .34rem;
    }
    .stuClassName {
        float: right;
        line-height: .7rem;
        font-size: .26rem;
    }
}